<!DOCTYPE html>
<html>

<head>
  <title>DKG | Process Flow Diagram</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/2.1.2/go.js"></script>

  <link rel="stylesheet" href="/fontend/style/style.css">
  <link rel="stylesheet" href="/fontend/style/process_flow_diagram.css">
</head>

<body>
  <div id="wrapper" class="container-fluid">
    <div id="title">
      PROCESS FLOW DIAGRAM
    </div>

    <div class="row" id="graph-wrapper">
      <img class="image-style" src="/fontend/material/image/graph-5.jpg" />

      <table class="table-anotation-big" id="anotation-1">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-2">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-3">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-4">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-5">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-6">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-7">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-8">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-9">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-10">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>

      <table class="table-anotation-big" id="anotation-11">
        <tbody>
          <tr>
            <th class="title-anotation-big">EVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>MMbtu/Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">SVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>Sm<sup>3</sup>Hr</th>
          </tr>
          <tr>
            <th class="title-anotation-big">GVF</th>
            <th class="data-anotation-big">
              <div class="anotation-big-data-border">
                ...
              </div>
            </th>
            <th>M<sup>3</sup>Hr</th>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Footer -->
    <% include layout/footer %>
  </div>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io("http://14.225.11.51:3710");
    // var socket = io("http://124.158.10.133:3710");
    socket.on("data_info", function(data){
      //document.getElementById("notify").innerHTML = "Connected to server";
      console.log(data);
      console.log("data.station = " + data.station + ", station_name = " + station_name)
      if (station_name == data.station) {
        parameters.forEach( function(parameter){
          //console.log(data.value.find( tag => tag.name === parameter.maptag))
          if(data.value.find( tag => tag.tag === parameter.maptag)){
            document.getElementById(station_name + "_" + parameter.maptag).innerHTML = data.value.find( tag => tag.tag === parameter.maptag).value;
          }
        })

        var date = new Date(data.timestamp);
        console.log(date.toString() )
        var items = document.getElementsByClassName(station_name+"_timestamp"), i, len;
        // loop through all elements having class name ".my-class"
        for (i = 0, len = items.length; i < len; i++) {
            items[i].innerHTML = date.toLocaleString();
        }

        // "Wed Jun 29 2011 09:52:48 GMT-0700 (PDT)"

      }

    //   var person = {firstName:"John", lastName:"Doe", age:46};
      // console.log(person["firstName"]);
      // parameters.forEach( function(parameter){
      //  if (station_id == data.station) {


      //  }
      //    console.log("haha--")
      // })
      
    })


    socket.io.on("connect_error", function(err) {
      console.log("Không có kết nối đến Server " + err)
      document.getElementById("notify").innerHTML = "Không có kết nối đến Broker Server";

    })

  </script>

</body>

</html>