<% layout('../layout/index') %>

<div class="panel-heading">
	Tag Edit: <%= tag.name %>
	<span style="float: right;"><a href="admin/pid-interface">Home</a></span>
</div>
<div class="panel-body">

<form method="post" action="/admin/pid-interface/edit/<%= tag.id %>">
  <div class="form-row">
    <div class="col-md-4 mb-3 col-sm-6">
      <label>Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name..."
        value="<%= tag.name %>">
    </div>
    <div class="col-md-4 mb-3 col-sm-6">
      <label>Background</label>
      <input type="text" class="form-control" name="isBgColor" placeholder="Number (1 or 0)"
        value="<%= tag.isBgColor %>" required>
    </div>

  </div>
    
    
  <div class="form-row">
    <div class="col-md-12 mb-3 col-sm-6">
    <br>
      <button class="btn btn-success" type="submit">Submit </button>
    </div>
  </div>
 
</form>
</div>

