<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <style type="text/css">
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 4px;
      }

      tr td.price {
        text-align: right;
      }

      /*tr:nth-child(even) {
        background-color: #dddddd;
      }*/
    </style>
  </head>
  <body>
    <div>

      <table>
        <tr>
          <td width="100px" rowspan="2"><img width="100%" src="data:image/png;base64,{{logo}}" alt="Logo" /></td>
          <td>CÔNG TY TNHH THƯƠNG MẠI N.T.V</td>
          <!-- <td></td> -->
        </tr>
        <tr>
          <td>49/13 Hoàng Dư Khương, Phường 12, Quận 10, Tp. Hồ Chí Minh<br>
            MST: 0311053572
          </td>
          <!-- <td>Mẫu số:202204-01</td> -->
        </tr>
        
        
      </table>

      <h3 style="text-align: center;">BÁO CÁO ĐIỆN NĂNG TIÊU THỤ</h3>
      
      <table>
        <tr>
          <td>Khách hàng</td>
          <td>{{ station.describe }}</td>
        </tr>
        <tr>
          <td>Địa chỉ</td>
          <td>{{ station.address }}</td>
        </tr>
        <tr>
          <td>Điện thoại</td>
          <td>{{ station.phone }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ station.email }}</td>
        </tr>
        <tr>
          <td>Mã số thuế</td>
          <td>{{ station.tax_number }}</td>
        </tr>

        <!-- <tr>
          <td>Địa chỉ sử dụng điện</td>
          <td></td>
        </tr>
        <tr>
          <td>Mục đích sử dụng điện</td>
          <td></td>
        </tr> -->

      </table>

      <h4>TÌNH HÌNH SỬ DỤNG ĐIỆN CỦA KHÁCH HÀNG</h4>
      <p>Kỳ hóa đơn Tháng 7/2022 Từ ngày {{ start }} đến ngày {{ end }}</p>

      <table>
        <tr style="background-color: rgb(228, 227, 227);">
          <td>Khung giờ</td>
          <td>Hệ số nhân</td>
          <td>Chỉ số cũ</td>
          <td>Chỉ số mới</td>
          <td>Điện tiêu thụ (kWh)</td>
        </tr>
        <tr>
          <td>Khung giờ bình thường</td>
          <td>1</td>
          <td>0</td>
          <td>75724</td>
          <td>75724</td>
        </tr>
        <tr>
          <td>Khung giờ cao điểm</td>
          <td>1</td>
          <td>0</td>
          <td>24474</td>
          <td>24474</td>
        </tr>
        <tr>
          <td>Khung giờ thấp điểm</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td colspan="4">Tổng:</td>
          <td>100,198</td>
        </tr>
        

      </table>

      <h4>TỔNG SỐ TIỀN THANH TOÁN</h4>
      <table>
        <tr style="background-color: rgb(228, 227, 227);">
          <td>KHUNG GIỜ MUA ĐIỆN</td>
          <td>ĐƠN GIÁ (đồng/kWh)</td>
          <td>SẢN LƯỢNG (kWh)</td>
          <td>THÀNH TIỀN (đồng)</td>
        </tr>
        <tr>
          <td>Khung giờ bình thường</td>
          <td>{{ station.unit_price_bt }}</td>
          <td>{{ electric.kwh_bt }}</td>
          <td class="price">{{ electric.price_bt }}</td>
        </tr>
        <tr>
          <td>Khung giờ cao điểm</td>
          <td>{{ station.unit_price_cd }}</td>
          <td>{{ electric.kwh_cd }}</td>
          <td class="price">{{ electric.price_cd }}</td>
        </tr>
        <tr>
          <td>Khung giờ thấp điểm</td>
          <td>{{ station.unit_price_td }}</td>
          <td>{{ electric.kwh_td }}</td>
          <td class="price">{{ electric.price_td }}</td>
        </tr>
        <tr>
          <td colspan="2">Tổng điện năng tiêu thụ (kWh)</td>
          <td>{{ electric.total_kwh }}</td>
          <td></td> 
        </tr>
        <tr>
          <td colspan="2">Tổng tiền điện chưa thuế (đồng)</td>
          <td></td>
          <td class="price">{{ electric.total_price_before }}</td>
        </tr>
        <tr>
          <td colspan="2">Tỷ lệ Chiết Khấu (%)</td>
          <td></td>
          <td class="price">{{ station.discount }}</td>
        </tr>
        <tr>
          <td colspan="2">Chiết Khấu (đồng)</td>
          <td></td>
          <td class="price">{{ electric.discount }}</td>
        </tr>
        <tr>
          <td colspan="3">Giá trị thanh toán chưa bao gồm thuế VAT (đồng)</td>
          <td class="price">{{ electric.total_price_discounted }}</td>
        </tr>
        <tr>
          <td colspan="3">Thuế suất GTGT (%)</td>
          <td class="price">{{ station.vat }}</td>
        </tr>
        <tr>
          <td colspan="3">Thuế GTGT (đồng)</td>
          <td class="price">{{ electric.vat }}</td>
        </tr>
        <tr>
          <td colspan="3">Tổng cộng tiền thanh toán (đồng)</td>
          <td class="price">{{ electric.total_price_vated }}</td>
        </tr>
        <tr>
          <td colspan="4">Bằng chữ: {{ electric.read_number }}</td>
          
        </tr>

      </table>

      <h4>THÔNG TIN LIÊN HỆ THANH TOÁN</h4>
      <p>
        Số tài khoản: 1111198168<br>
        Tên chủ tài khoản: CONG TY TNHH THUONG MAI N.T.V<br>
        Tên ngân hàng: Ngân hàng TMCP Á Châu (ACB)<br>
        Chi nhánh: ACB - PGD VAN HANH<br>
      </p>
      <p>
        CTY TNHH TM N.T.V<br>
        49/13 Hoàng Dư Khương, P.12, Q10, Tp.HCM<br>
        support@ntvvietnam.vn
      </p>

      <h4>TÓM TẮT</h4>

      <table>
        <tr style="background-color: rgb(228, 227, 227);">
          <td>Tổng điện năng năng lượng mặt trời (kWh)</td>
          <td>100,198</td>
          
          
          
        </tr>
        <tr>
          <td>Tổng điện năng lưới bù (kWh)</td>
          
          <td>100,412</td>
        </tr>
        <tr>
          <td>Tổng điện năng tái sử dụng (kWh)</td>
          
          <td> 200,610</td>
        </tr>
        
        
        
        

      </table>

      <!-- <h4>THÔNG TIN HIỆN TẠI</h4>
      <p>Tính đến ngày 25-04-2022</p>
      <table>
        <tr style="background-color: rgb(228, 227, 227);">
          <td>Tên biến tần</td>
          <td>Chỉ số kWh</td>
        </tr>
        {{#each arr_device}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{ this.kwh }}</td>
        </tr>
        {{/each}}
      </table> -->
      

      
      
      
    </div>

  </body>
</html>