<div class="row">
  <a class="bottom-button" href="/">
    OVERVIEW
  </a>
  <div class="bottom-button">
    EVENT
  </div>
  <div class="bottom-button">
    TREND
  </div>
  <div class="bottom-button">
    ALARM
  </div>
  <div class="bottom-button">
    REPORT
  </div>
  <div class="bottom-button">
    F&G
  </div>
  <div class="bottom-button">
    DATA COLLECTION
  </div>
</div>