<section class="sidebar">
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">STATISTIC</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="">
      <a href="/member/report">
        <i class="fa fa-angle-left pull-right"></i> <span>Báo cáo theo trạm</span>
      </a>
    </li>

    <li class="">
      <a href="/member/report/device">
        <i class="fa fa-angle-left pull-right"></i> <span>Báo cáo thiết bị theo giờ</span>
      </a>
    </li>

    <li class="">
      <a href="/member/report/detail">
        <i class="fa fa-angle-left pull-right"></i> <span>Báo cáo theo thiết bị</span>
      </a>
    </li>
    <!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
    

    

    <!-- GC Data -->
    

   

  </ul>
  <!-- /.sidebar-menu -->
</section>